body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #333;
    display: flex;
    justify-content: center;
}

.container {
    background-color: #4CAF50;
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
}

form {
    background: white;
    border-radius: 10px;
    padding: 20px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 5px;
    margin-top: 3px;
}

.btns {
    margin-top: 20px;
}

button, .back {
    background-color: #4CAF50;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

button:hover, .back:hover {
    background-color: #388E3C;
}
